<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="customAppSettingsGroup">
      <section name="pdc_cantho" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="pdc_tranoc" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="dulieugoc" value="\\10.141.2.5\dulieu\dulieugoc\" />
    <add key="datadir" value="" />
    <add key="ftpserver" value="10.141.2.5" />
    <add key="ftpuser" value="swift" />
    <add key="ftppass" value="swift" />
    <add key="ftpdulieugoc" value="dulieugoc" />
    <add key="TenChiNhanh" value="CN NHTMCP DT&amp;PT TP CAN THO" />
    <add key="DiaChi" value="12 DUONG HOA BINH - CAN THO" />
    <add key="tencn_vi" value="CHI NHÁNH CẦN THƠ" />
    <add key="tencn_en" value="CAN THO BRANCH" />
    <add key="diachi" value="12 Hòa Bình Q. Ninh Kiều - TP. Cần Thơ" />
    <add key="tinh" value="Cần Thơ" />
    <add key="fax" value="0710-820832" />
    <add key="dt" value="07103-818787" />
    <add key="tennguoiky" value="" />
    <add key="chucdanh" value="GIÁM ĐỐC" />
    <add key="noinhan" value="Hội sở Chi nhánh" />
    <add key="ngaycuoiky" value="31 tháng 12 năm 2016" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="bdsuEntities" connectionString="metadata=res://*/bdsu.csdl|res://*/bdsu.ssdl|res://*/bdsu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.141.2.5;initial catalog=bdsu;user id=sa;Password=abc@123;MultipleActiveResultSets=True;App=EntityFramework;Connect Timeout=0;Encrypt=False;Packet Size=4096;MultipleActiveResultSets=True; Max Pool Size=250;Pooling = True;&quot;" providerName="System.Data.EntityClient" />
    <add name="dlgocEntities" connectionString="metadata=res://*/dlgoc.csdl|res://*/dlgoc.ssdl|res://*/dlgoc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.141.2.5;initial catalog=dlgoc;user id=sa;;Password=abc@123;MultipleActiveResultSets=True;App=EntityFramework;Connect Timeout=0;Encrypt=False;Packet Size=4096;MultipleActiveResultSets=True; Max Pool Size=250;Pooling = True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <customAppSettingsGroup>
    <pdc_cantho>
      <add key="TenChiNhanh" value="CN NHTMCP DT&amp;PT TP CAN THO" />
      <add key="DiaChi" value="12 DUONG HOA BINH - CAN THO" />
      <add key="tencn_vi" value="CHI NHÁNH CẦN THƠ" />
      <add key="tencn_en" value="CAN THO BRANCH" />
      <add key="diachi" value="12 Hòa Bình Q. Ninh Kiều - TP. Cần Thơ" />
      <add key="tinh" value="Cần Thơ" />
      <add key="fax" value="0710-820832" />
      <add key="dt" value="07103-818787" />
      <add key="tennguoiky" value="Nguyễn Thế Kế" />
      <add key="chucdanh" value="GIÁM ĐỐC" />
      <add key="noinhan" value="Hội sở Chi nhánh" />
      <add key="tenfilechuky" value="chuky.bmp" />
    </pdc_cantho>
    <pdc_tranoc>
      <add key="TenChiNhanh" value="CN NHTMCP DT&amp;PT TP CAN THO" />
      <add key="DiaChi" value="Lộ 31A KCN Trà Nóc 1 - Q.Bình Thủy - TPCT" />
      <add key="tencn_vi" value="Phòng GD KCN Trà Nóc" />
      <add key="tencn_en" value="CAN THO BRANCH" />
      <add key="diachi" value="Lộ 31A KCN Trà Nóc 1 - Q.Bình Thủy - TPCT" />
      <add key="tinh" value="Cần Thơ" />
      <add key="fax" value="0710-843518" />
      <add key="dt" value="07103-843441" />
      <add key="tennguoiky" value="" />
      <add key="chucdanh" value="" />
      <add key="noinhan" value="Hội sở Chi nhánh" />
      <add key="tenfilechuky" value="" />
    </pdc_tranoc>
  </customAppSettingsGroup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>